  
<main class="px-3">
  <h1>Motivated, talented Web Developer</h1>
  <p class="lead">Hey, I am a cool guy and you should hire me asap. My wife thinks I am cool too. </p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
</main>





